<h2>Add Student</h2>
<form method="POST">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" pattern="^[A-Za-z\s]+$" required title="Use only letters and spaces">

    <label for="funding_type">Funding Type:</label>
    <select id="funding_type" name="funding_type" required>
        <option value="taxa">taxa</option>
        <option value="buget">buget</option>
    </select>
    <br><br>

    <label for="scholarship">Scholarship:</label>
    <select id="scholarship" name="scholarship" required>
        <option value="yes">Yes</option>
        <option value="no">No</option>
    </select>
    <br><br>

    <label for="university_id">University ID:</label>
    <input type="text" id="university_id" name="university_id" pattern="^\d+$" required title="Use only integers (numbers)">
    <br><br>
    <button type="submit">Add</button>
</form>
